@model Core_Proje1.Areas.Writer.Models.UserEditViewModel
@{
    ViewData["Title"] = "UpdateWriter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("UpdateWriter", "Writer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form class="forms-sample" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Adı</label>
                            <span class="text-danger" asp-validation-for="Name"></span>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Soyadı</label>
                            <span class="text-danger" asp-validation-for="Surname"></span>
                            @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Resim Seç</label>
                            <input type="file" asp-for="Image" class="file-upload-default">

                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled placeholder="Resim Yükle">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Yükle</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Kullanıcı Adı</label>
                            <span class="text-danger" asp-validation-for="UserName"></span>
                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control text-dark", @disabled = "disabled"  })
                        </div>
                        <div class="form-group">
                            <label>E-mail Adresi</label>
                            <span class="text-danger" asp-validation-for="Mail"></span>
                            @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Telefon Numarası</label>
                            @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Şifre</label>
                            <span class="text-danger" asp-validation-for="Password"></span>
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Şifre Tekrar</label>
                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                        </div>
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                        <a href="/Portfolio" class="btn btn-dark">İptal</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
}
</div>
@section ExtraScripts {
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/vendors/select2/select2.min.js"></script>
    <script src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/js/file-upload.js"></script>
    <script src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/js/typeahead.js"></script>
    <script src="~/corona-free-dark-bootstrap-admin-template-1.0.0/template/assets/js/select2.js"></script>
}


